body{
    color: fuchsia;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33A;
    box-shadow: opx 2px 20 px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 30px;
}
#post
{
    padding: 2em;
}
#titulo_inferior
{
    text-align: right;
    color:green;  
}
#cabecera1
{
    background: red;
    box-shadow: opx 2px 20 px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera2
{
    background: green;
    box-shadow: opx 2px 20 px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera3
{
    background: purple;
    box-shadow: opx 2px 20 px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera4
{
    background: orangered;
    box-shadow: opx 2px 20 px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
